
= form_for @message do |f|
  = f.label :To
  %select{name:"message[user_id]"}
    - @my_friends.each do |friend|
      %option{value:"#{friend.id}"}
        = friend.firstName
  %br
  = f.text_area :content
  %br
  = f.submit :"Send Message"
  
