- page_title "My Friends"

- if @my_matches.empty?
  %br
  %h1 Sorry, no contacts here for you
  %h2
    = link_to "Go get them", "/matches"

%ul.list
  - @my_matches.each do |match|
    %a{href:"/message_from/#{match.id}"}
      %li
        %img{src:"#{match.picture_url}"}
          %p
          = match.firstName
          = match.headline
        %a.button-negative{href:"/match/delete/#{match.id}"}
          X
