.slider#mySlider
  %ul  
    - @users.each do |friend|
      %li
        %img.slider.img{src:"#{friend.picture_url}", alt:"Profile Picture"}
        %span.slide-text
          %a{href:"/add_to_friends/#{friend.id}"}
            Like
      
      
%strong
  Hello my dear 
  = current_user.firstName
  ,
  = current_user.headline

%p
  You currently are registered to be staying at 
  = current_user.user_locations
  %br
  .content-padded
    = gmaps("map_options" => {"auto_zoom" => @my_locations.length>1 , "zoom" => 7 }, "markers" => { "data" => @markers })
  
  
  %ul#my_locations
    - @my_locations.each do |my_location|
      %li
        = my_location.name
        = link_to "Delete", location_path(my_location), :method => :delete
      
  #add_loc
    = link_to 'New Location', new_location_path, :remote => true


- unless current_user.picture_url.blank?
  %img{src:"#{current_user.picture_url}", alt:"Profile Picture"}



%h4 
  Users around me
%ul
- @users.each do |user|
  - if user != current_user
    %li
      = user.firstName
      %a{href:"/add_to_friends/#{user.id}"}
        Add
  

%h4
  People I like
%ul  
  - @my_likes.each do |friend|
    %li
      = friend.firstName
      %a{href:"/remove_friends/#{friend.id}"}
        Remove

%h4 
  My matches
%ul
  - @my_matches.each do |match|
    %li
      = match.firstName
      %a{href:"mailto:#{match.email}"}
        = match.email
%br
%br
= link_to "Delete my Profile" , delete_profile_path