= form_for @location do |f| 
  -if @location.errors.any?
    .error_explanation
      %h2
        = pluralize(@location.errors.count, "error")
        prohibited this location from being saved:
      
      %ul
        - @location.errors.full_messages.each do |msg|
          %li 
            = msg

  .field
    = f.label :name 
    %br
    = f.text_field :name
  .field
    = f.label :range 
    %br
    = f.select :range, options_for_select(@range, 30) 
  .actions
    = f.submit :"Add Location", class:"button-positive button-block"