%header.bar-title
  %a.button{href:"/matches"}
    %img.tab-icon{src:"/assets/icon-home.png"}
  %h1.title
    Linker
  %a.button{href:"/settings"}
    %img.tab-icon{src:"/assets/icon-settings.png"}
    
.content
  = render :partial => "form"

  %ul.list
    - @locations.each do |location|
      %li
        %p
          = location.range
          miles from
        = link_to "X", location_path(location), :method => :delete, class:"button-negative"
        %p
          = location.name

  = render :partial => "/layouts/map", :locals => {locations:@locations, markers:@markers}
