!!!
%html
  %head
    %title
      = yield :page_title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

  %body{ontouchstart:""}
    .content
        
      %header.bar-title
        %a.button{href:"/matches"}
          %img.tab-icon{src:"/assets/icon-home.png"}
        %a.button{href:"/my_matches"}
          %img.tab-icon{src:"/assets/icon-messages.png"}
       
        %h1.title
          = yield :page_title


        %a.button{href:"/settings"}
          %img.tab-icon{src:"/assets/icon-settings.png"}
          
      .content
        - unless flash[:notice].blank?
          = flash[:notice]
        - unless flash[:alert].blank?
          = flash[:alert]
          
        = yield 
      
        = content_for :scripts
