!!!
%html
  %head
    %title WDI Group Project 1
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
      
  %body{ontouchstart:""}
    %header.bar-title
      //%ul
      //  %li
      //    %a.active{href:"/"}Home 
      //  %li
      //    %a{href:"#{my_profile_path}"} My Profile
      //
      //    - if current_user
      //      = current_user.firstName
      //      = current_user.lastName
      //      \|
      //      %a{href:"/logout"}
      //        Sign out
      //    - else
      //      %a{href:"/login"}
      //        Sign in
      //
      %h1.title
        Linker
      %a.button
        %img.tab-icon
    .content
      - unless flash[:notice].blank?
        = flash[:notice]
      - unless flash[:alert].blank?
        = flash[:alert]
    
      = yield

      = content_for :scripts